name: Ignore NuGet package

on:
  workflow_dispatch:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  Build, pack and publish:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1
    - name: Restore dependencies
      run: dotnet restore
      env:
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Pack
      run: dotnet pack --configuration Release  /p:PublicRelease=true
    - name: Push package to NuGet
      run: dotnet nuget push .\src\Ignore\bin\Release\Ignore.*.nupkg --api-key {{secrets.nugetKey}} --source https://api.nuget.org/v3/index.json
